.sketch{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0px; left:0px;
  z-index: 0;
}

.header{
  position: relative;
  z-index: 1;
  padding-left: 50px;
  margin-top: 50px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 3px;
  font-size: 55px;
}

.lowerHeader{
  position: relative;
  z-index: 1;
  padding-left: 50px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 3px;
  font-size: 55px;
}

.spacer{
  height: 400px;
}

.link{
  text-decoration: underline;
  color: white;
  font-size: 25px;
  padding-left: 25px;
}
.link:hover{
  text-decoration: underline;
  color: #894F9F;
  font-size: 25px;
  padding-left: 25px;
}

.logo{
  position: relative;
  z-index: 1;
  width: auto;
}